!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./Footer.module.css">
    </head>
    <body>
        Hello World
        
        <script src="" async defer></script>
        
        <footer>
            
            <div class="footer">
                <div class="_2023WhathefakeComAllRightsRese">
                    <div class="wtf">Wtf!</div>
                    <div class="textBlock">© 2023 whathefake.com</div>
                    <div class="textBlock2">All rights reserved.</div>
                </div>
                <div class="homeHelpTermsOfServicePrivacyP">
                    <div class="quickLinks">Quick links</div>
                    <div class="textBlock3">
                        <a href="">Home</a>
                    </div>
                    <div class="textBlock4">
                        <a href="">Help</a>
                    </div>
                    <div class="textBlock5">
                        <a href="">Terms of Service</a>
                    </div>
                    <div class="textBlock6">
                        <a href="">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html> 