!<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./HowItWorks.module.css">
    </head>
    <body>
        Hello World
        <script src="" async defer></script>
        <div>
        <div class="howItWorks">How it works</div>
        <div class="archive">Archive.</div>
        <div class="loremIpsumDolorSitAmetConsecte">
        Lorem ipsum dolor sit amet consectetur. Donec et lorem cursus turpis. Condimentum elementum malesuada sed nisl.
        </div>
        <div class="upload1"></div>
        <div class="loremIpsumDolorSitAmetConsecte2">
        Lorem ipsum dolor sit amet consectetur. Donec et lorem cursus turpis. Condimentum elementum malesuada sed nisl.
        </div>
        <div class="process">Process.</div>
        <div class="processing1"></div>
        <div class="search">Search.</div>
        <div class="loremIpsumDolorSitAmetConsecte3">
        Lorem ipsum dolor sit amet consectetur. Donec et lorem cursus turpis. Condimentum elementum malesuada sed nisl.
        </div>
        <div class="informationTab1"></div>
        </div>
    </body>
</html> 